/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Asterisk wild card to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: poppins, sans-serif;
}

/* Generic styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    padding-top: 0.6rem;
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #EB171D;
}


#logo-image {
    width: 60px;
}

#menu>li {
    padding: 10px;
    letter-spacing: 2px;
}

#menu {
    list-style-type: none;
    background-color: white;
    font-size: 12px;
    margin: 0;
    padding-right: 10px;
    text-transform: uppercase;
    color: black;
}

/* Styles for dropdown nav*/
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    color: black;
    display: none;
    padding: 0 1rem;
}

#nav-toggle:checked~nav {
    display: flex;
    justify-content: flex-end;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    margin-left: 20px;
}

/* Styling main content */

main {
    background-color: #F4E0D9;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
    text-align: center;
    margin-top: 61.27px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
}

.upper-content {
    flex-grow: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../images/palmtree_silhoutte_white.webp');
    background-size: 300px;
    background-position: right 70px top 40px;
    background-repeat: no-repeat;
}

/* Styles rsvp-button */

.button {
    padding: 6px;
    background-color: #EB171D;
    border: 0px;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    text-transform: uppercase;
    align-items: center;
}

.info li {
    padding: 0.1rem;
}

.info ul {
    text-transform: none;
    list-style-type: none;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lower-content {
    background-color: white;
    padding-top: 15px;
    flex-grow: 0;
    min-height: 140px;
    display: flex;
    justify-content: center;
}

.image-lower-content {
    width: 100px;
    height: 100px;
}

.image-cocktail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lower-content-map-section {
    padding-top: 20px;
    min-height: 220px;
    background-color: white;
}

.red-heading {
    color: #EB171D;
    text-transform: uppercase;
    font-family: 'Libre Baskerville',
        serif;
}

.italic {
    font-style: italic;
    margin-top: 0.5rem;
}

/* Styles for Google map */

.map {
    margin-bottom: 10px;
}

iframe {
    max-width: 260px;
    max-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#rsvp-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#rsvp-form {
    background-color: white;
    color: black;
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: 80%;
}

.text-input {
    background-color: #F4E0D9;
    color: black;
    border: 1px solid;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
    padding: 3px 5px;
}

#alone,
#two {
    font-size: 8px;
    padding: 5px;
}

#rsvp-button {
    margin-bottom: 10px;
    margin-top: 0px;
}


/* Footer styles */

footer {
    background-color: #342646;
    color: #F4E0D9;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 40px;
}

#footer-items {
    text-align: center;
    list-style-type: none;
    font-size: 70%;
    text-transform: uppercase;
    color: #F4E0D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

footer i {
    font-size: 150%;
    color: #F4E0D9;
}

.copyright-text {
    font-size: 60%;
}


/* Media query to hide the image on screens with a maximum width of 600 pixels */
@media (max-width: 600px) {
    .image-lower-content {
        display: none;
    }
}

/* Media query tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header styles */

    header {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .logo {
        padding-top: 10px;
    }

    #logo-image {
        width: 80px;
    }

    nav {
        position: relative;
        display: block;
        width: fit-content;
    }

    #menu {
        display: flex;
        font-size: 120%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */

    main {
        font-size: 120%;
        margin-top: 102.32px;
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 2rem;
    }

    main>p {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .upper-content {
        background-image: url('../images/palmtree_silhoutte_white.webp');
        background-size: 350px;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    /* Styles for RSVP Button */

    .button {
        padding: 8px;
        font-size: 120%;
        margin-top: 1.8rem;
    }

    /* Styles for lower-content */

    .lower-content {
        padding-top: 20px;
        min-height: 220px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .text-content {
        text-align: center;
    }

    .image-lower-content {
        width: 200px;
        height: 200px;
        padding-bottom: 25px;
    }

    #rsvp-form {
        max-width: 600px;
    }

    .text-paragraphs {
        max-width: 450px;
        margin: 0 auto;
    }

    iframe {
        max-width: 600px;
        max-height: 200px;
    }

    /* Footer styles */

    footer {
        min-height: 80px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #footer-items {
        font-size: 80%;
    }

    footer i {
        font-size: 170%;
    }

    .copyright-text {
        font-size: inherit;
    }

        /* Media query larger (laptops and desktops, 992px and up) */
        @media screen and (min-width: 992px) {

            header {
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
            }

            #logo-image {
                width: 100px;
            }

            main {
                font-size: 140%;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 117.38px;
            }


            .upper-content {
                background-image: url('../images/palmtree_silhoutte_white.webp');
                background-size: 350px;
                background-position: left bottom;
                background-repeat: no-repeat;
            }


            main>p {
                text-align: center;
                max-width: 600px;
                margin: 0 auto;
            }

            h1,
            h2 {
                font-size: 150%;
            }

            .text-paragraphs {
                max-width: 600px;
                margin: 0 auto;

            }

            /* Styles lower content*/
            
            .lower-content {
                padding-top: 30px;
                min-height: 260px;
            }

            iframe {
                max-width: 600px;
                max-height: 220px;
            }

            /* Footer styles */

            footer {
                min-height: 100px;
            }

            #footer-items {
                font-size: 90%;
            }

            footer i {
                font-size: 200%;
            }
        }