/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Asterisk wild card to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */

header {
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    }
}

main {
    background-color: #F4E0D9;
    color: black;
    min-height: 100vh;
    font-family: 'Poppins',sans-serif;
}

footer {
    background-color: #342646 ;
    color:#F4E0D9;
    min-height: 40px;
    font-family: 'Poppins', sans-serif;
    }
}